.todo {
  display: flex;
  align-items: center;
  padding: 8px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &.completed {
    span {
      text-decoration: line-through;
    }
  }

  label {
    width: 100%;
    cursor: pointer;
  }

  i {
    margin-left: auto;
    cursor: pointer;
  }
}
